<!DOCTYPE html>
<html>

<!-- <head>
    <title>Hackatrain Radio Sign In</title>
    <link rel="stylesheet" href="Sign In.css">
</head>
<Header><div class="signin">
Hackatrain<br/> Radio</div>
<div class="logo"><img src="SmallLOGO.jpg"> </div>
</Header>
<article>
<p></p>
</article> -->



<head>
  <title>Hackatrain Radio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<header>Hackatrain <br/>Radio<%= link_to image_tag("SmallLOGO.jpg"), root_url %></header><body>
<article>
<%= yield %>
</article>
</body>
</html>
